[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
base36 = "*"
flask-pymongo = "*"
pymongo = {extras = ["srv"], version = "*"}
flask-cors = "*"
python-bsonjs = "*"
flask = {extras = ["async"], version = "*"}

[dev-packages]

[requires]
python_version = "3.10"
